<template>
  <div class="letter-footer">
    <div class="letter-footer__top">
      <div class="letter-footer__col">
        <div class="letter-footer__logo">
          <img
            alt="logo.png"
            width="27"
            height="28"
            src="https://d1pgqke3goo8l6.cloudfront.net/xmTthCgeQ6e3Hx8oT3eo_logo.png"
          >
        </div>
        <div class="letter-footer__desc">
          <p>
            Возникли вопросы?
            <br>
            <a
              href="mailto:mail@newton.finance"
              style="color:#207eff;text-decoration: none;"
            >mail@newton.finance</a>
            или
            <a
              href="tel:88005507027"
              style="color:#207eff;text-decoration: none;"
            >8-800-550-70-27</a>
          </p>
        </div>
      </div>
      <div class="letter-footer__social">
        <div
          v-for="(item, id) in social"
          :key="id"
          class="letter-footer__social-item"
        >
          <a
            :href="item.link"
            target="_blank"
          >
            <img
              :src="item.image"
              :alt="item.title"
              width="24"
            >
          </a>
        </div>
      </div>
    </div>
    <div class="letter-footer__bottom">
      <a
        href="[unsubscribe]"
        style="text-decoration: underline !important;text-align: center;font-size: 12px;color: #b8bdc9;"
      >Отписаться от рассылки</a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      social: [
        {
          link: "https://www.facebook.com/newton.finance/",
          image:
            "https://d1pgqke3goo8l6.cloudfront.net/oBdaFYLLRUiGX52iJPH4_004-facebook%20(2).png",
          title: "004-facebook (2).png"
        },
        {
          link: "https://www.instagram.com/newton.finance/",
          image:
            "https://d1pgqke3goo8l6.cloudfront.net/LrEafFi3QbylcMlv2GCg_002-vk.png",
          title: "002-vk.png"
        },
        {
          link: "https://vk.com/newton.finance",
          image:
            "https://d1pgqke3goo8l6.cloudfront.net/jlfV0CNeQa6EnUyKtfI5_002-vk%20(1).png",
          title: "002-vk (1).png"
        },
        {
          link: "https://t.me/fintoday",
          image:
            "https://d1pgqke3goo8l6.cloudfront.net/C6mDJmaNQ0WPwJBUbU3X_004-facebook%20(1).png",
          title: "004-facebook (1).png"
        },
        {
          link: "https://ok.ru/group/54948288724999",
          image:
            "https://d1pgqke3goo8l6.cloudfront.net/ZhUYJFzrSpScXFPRXfAQ_004-facebook.png",
          title: "004-facebook.png"
        }
      ]
    };
  }
};
</script>

<style>
.letter-footer {
  width: 600px;
}

.letter-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0 30px;
}

.letter-footer__col {
  display: flex;
  align-items: center;
}

.letter-footer__col p {
  margin-bottom: 0;
}

.letter-footer__desc {
  margin-left: 15px;
}

.letter-footer__social {
  display: flex;
  justify-content: flex-end;
}

.letter-footer__social-item {
  text-align: right;
  padding-left: 8px;
}

.letter-footer__bottom {
  padding: 17px 0 45px;
  border-top: 1px solid #e6ebf3;
  text-align: center;
}

.letter-footer__bottom a {
  text-decoration: underline !important;
  text-align: center;
  font-size: 12px;
  color: #b8bdc9;
}
</style>
