<template>
  <div class="letter-header">
    <a
      class="letter-header__logo"
      href="https://newton.finance/?utm_source=content&utm_medium=email&utm_campaign=konsultanty-25-09"
    >
      <img
        class="letter-header__img"
        alt="logo.png"
        width="43"
        height="45"
        src="https://d1pgqke3goo8l6.cloudfront.net/xmTthCgeQ6e3Hx8oT3eo_logo.png"
      >
    </a>
  </div>
</template>

<style>
.letter-header {
  display: flex;
  justify-content: center;
  padding: 40px 0 0;
}
</style>
