<template>
  <div class="letter">
    <l-header />
    <slot />
    <l-footer />
  </div>
</template>

<script>
import LHeader from '@/components/wrapper/LHeader.vue'
import LFooter from '@/components/wrapper/LFooter.vue'

export default {
  components: {
    LHeader,
    LFooter
  }
}
</script>

<style>
.letter {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f3f4f7;
  font-family: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
  font-size: 14px;
  color: #777f8c;
  text-align: left;
  line-height: 22px;
}
</style>
