<template>
  <v-card
    hover
    class="l-new-widget"
  >
    <v-layout
      column
      justify-center
    >
      <v-icon
        large
        class="pt-3"
      >
        {{ module.icon }}
      </v-icon>
      <v-card-text>
        <p
          class="text-xs-center subheading"
          style="margin: 0"
        >{{ module.name }}</p>
      </v-card-text>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  name: 'LWidgetPreview',
  props: {
    module: {
      type: Object,
      required: true
    }
  }
}
</script>
