<template>
  <div
    v-if="prod === 'Dev'"
    :class="{'l-widget_active': active}"
    class="l-widget"
  >
    <transition
      name="fade"
      mode="out-in"
    >
      <div
        v-if="active"
        class="l-widget__header"
      >
        <v-layout>
          <v-spacer />
          <v-icon
            color="primary"
            class="pa-2"
            @click.native="removeItem"
          >close</v-icon>
        </v-layout>
      </div>
    </transition>
    <div
      class="l-widget__content"
      @click="setActive"
    >
      <component
        v-if="component"
        :active="active"
        :options="newOptions"
        :widget="widget"
        :is="component"
      />
    </div>
  </div>
  <tr v-else>
    <component
      v-if="component"
      :active="active"
      :options="newOptions"
      :widget="widget"
      :is="component"
    />
  </tr>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    prod: {
      type: String,
      required: false,
      default: 'Dev'
    },
    index: {
      type: Number,
      required: true
    },
    active: {
      type: Boolean,
      default: false
    },
    blockIndex: {
      type: Number,
      required: true
    },
    widget: {
      type: Object,
      required: true
    }
  },
  computed: {
    component() {
      if (!this.widget.type) return false
      return require(`./${this.widget.type}/${this.prod}`).default
    },
    defOptions() {
      return require(`./${this.widget.type}/options`).default
    },
    newOptions() {
      let changedOptions = {}

      if (this.active) {
        changedOptions = { ...this.options }
      }

      return { ...this.defOptions, ...changedOptions, ...this.widget.options }
    },
    ...mapGetters({ options: 'getCurrentOptions' })
  },
  methods: {
    removeItem() {
      this.$store.dispatch('removeWidget', {
        index: this.index,
        blockIndex: this.blockIndex
      })
    },
    setActive() {
      this.$store.dispatch('setActive', {
        index: this.index,
        blockIndex: this.blockIndex,
        options: this.newOptions
      })
    }
  }
}
</script>

<style lang="stylus">
.l-widget {
  position: relative;

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    .v-icon {
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 2px solid transparent;
      transition: all 0.3s ease-out;
      cursor: pointer;
      z-index: 1;
    }
  }

  &:first-of-type {
    .l-widget__content:before {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  &:last-of-type {
    .l-widget__content:before {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &_active {
    .l-widget__content:before {
      border-color: #207EFF;
    }
  }
}
</style>
