<template>
  <v-flex xs12>
    <v-subheader class="pl-0">{{ options.label }}</v-subheader>
    <v-slider
      v-model="value[0]"
      thumb-label="always"
      :max="30"
    />
    <v-slider
      v-model="value[1]"
      thumb-label="always"
      :max="45"
    />
  </v-flex>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    value() {
      return this.options.value ? this.options.value : [0, 0]
    }
  },
  watch: {
    value(val) {
      const options = {
        ...this.options,
        val
      }
      this.$store.dispatch('updateOption', { options, type: this.type })
    }
  }
}
</script>
