<template>
  <tr>
    <td
      align="left"
      valign="top"
      width="100%"
      style="padding: 0 0 30px;"
    >
      <center>
        <table
          cellspacing="0"
          cellpadding="0"
          width="600"
          style="background-color: #FFFFFF;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;overflow: hidden;"
        >
          <tbody>
            <slot />
          </tbody>
        </table>
      </center>
    </td>
  </tr>
</template>
