<template>
  <v-flex xs12>
    <v-subheader class="pl-0">{{ options.label }}</v-subheader>
    <v-text-field v-model="value" />
  </v-flex>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    value: {
      get() {
        return this.options.value ? this.options.value : this.options.default
      },
      set(value) {
        const options = {
          ...this.options,
          value
        }
        this.$store.dispatch('updateOption', { options, type: this.type })
      }
    }
  }
}
</script>
