<template>
  <div class="l-text-view">
    <editor
      v-model="text"
      :init="editor"
      api-key="0gaw62wwha8zv9vnd6zsuuzv3bqy1u3yw6370v4fuobsh38k"
    />
  </div>
</template>

<script>
import editor from '@tinymce/tinymce-vue'

export default {
  components: { editor },
  props: {
    widget: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      editor: {
        theme: 'inlite',
        inline: true,
        selection_toolbar:
          'bold italic underline | alignleft aligncenter alignright | quicklink h2 ',
        insert_toolbar: 'quickimage | h2'
      }
    }
  },
  computed: {
    text: {
      get() {
        const defaultText = `<h2>Новые клиенты ждут вас <br>на Ньютон Финанс!</h2>
    <p>Мы гордимся тем, что вы присоединились к пользованию сервисом Ньютон Финанс и вместе с нами делаете финансовый рынок честным, удобным и конкурентным. Количество пользователей площадкой постоянно растёт, особенно это видно по каталогу заявок от физлиц. Каждую неделю люди размещают в нём десятки новых запросов на финансирование.</p>`

        return this.widget.text ? this.widget.text : defaultText
      },
      set(value) {
        this.$store.dispatch('updateText', value)
      }
    }
  }
}
</script>

<style lang="stylus">
.l-text-view {
  position: relative;
  padding: 30px 47px;
  z-index: 1;

  p {
    margin-bottom: 15px;
    color: #777F8C !important;
    font-size: 14px;
    line-height: 22px;

    img {
      width: 100%;
      object-fit: contain;
    }

    strong {
      color: #333333;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
    color: #333;
    line-height: 38px;
    padding-bottom: 15px;
  }
}

.mce-content-body {
  outline: none;
}
</style>
