<template>
  <td
    align="left"
    valign="top"
    width="100%"
    class="email-block__content"
    style="padding: 30px 47px;"
  >
    <table
      cellspacing="0"
      cellpadding="0"
      width="100%"
    >
      <tbody>
        <tr>
          <td
            v-html="text"
            ref="text"
          ></td>
        </tr>
      </tbody>
    </table>
  </td>
</template>

<script>
export default {
  props: {
    widget: {
      type: Object,
      required: true
    }
  },
  computed: {
    text() {
      const defaultText = `<h2>Новые клиенты ждут вас <br>на Ньютон Финанс!</h2>
    <p>Мы гордимся тем, что вы присоединились к пользованию сервисом Ньютон Финанс и вместе с нами делаете финансовый рынок честным, удобным и конкурентным. Количество пользователей площадкой постоянно растёт, особенно это видно по каталогу заявок от физлиц. Каждую неделю люди размещают в нём десятки новых запросов на финансирование.</p>`

      return this.widget.text ? this.widget.text : defaultText
    }
  }
}
</script>

<style>
</style>
