<template>
  <div
    class="letter-block"
    @mouseover="hover = true"
    @mouseout="hover = false"
  >
    <div class="letter-block__container">
      <draggable
        v-model="widgets"
        :options="{animation: 300, group: 'people'}"
        class="l-widget-container"
      >
        <transition-group
          name="slide"
          mode="out-in"
          tag="div"
        >
          <l-widget
            v-for="(widget, id) in widgets"
            :key="id"
            :index="id"
            :active="id === $store.state.activeWidget && order === $store.state.activeBlock"
            :block-index="order"
            :widget="widget"
          />
        </transition-group>
      </draggable>
    </div>
    <transition name="slide">
      <div
        v-if="hover"
        class="letter-block__controls"
      >
        <v-layout>
          <v-btn
            small
            fab
            class="letter-block__draggable"
          >
            <v-icon>control_camera</v-icon>
          </v-btn>
          <v-btn
            color="error"
            dark
            small
            fab
            @click="deleteBlock"
          >
            <v-icon>clear</v-icon>
          </v-btn>
        </v-layout>
      </div>
    </transition>
    <v-btn
      color="success"
      flat
      small
      @click="addBlock"
    >
      <v-icon small>add</v-icon>
      Добавить блок
    </v-btn>
  </div>
</template>

<script>
import LWidget from '@/components/widgets/LWidget'
import draggable from 'vuedraggable'

export default {
  components: { LWidget, draggable },
  props: {
    order: {
      type: Number,
      required: false,
      default: 0
    },
    block: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      hover: false
    }
  },
  computed: {
    widgets: {
      get() {
        const block = this.$store.state.build.blocks[this.order]

        return block.widgets
      },
      set(value) {
        const widgets = {
          index: this.order,
          widgets: value
        }

        this.$store.commit('updateWidget', widgets)
      }
    }
  },
  methods: {
    addBlock() {
      this.loading = true
      this.$store.dispatch('addBlock').finally(() => (this.loading = false))
    },
    deleteBlock() {
      if (this.order) {
        this.$store.dispatch('deleteBlock', this.order)
      }
    }
  }
}
</script>

<style>
.letter-block {
  position: relative;
  width: 660px;
  padding: 30px 30px 0;
}

.letter-block__controls {
  position: absolute;
  right: 20px;
  top: -30px;
}

.letter-block__container {
  background-color: #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.l-widget-container > div {
  min-height: 100px;
}
</style>
