<template>
  <v-flex
    xs12
    class="l-option px-2"
  >
    <component
      v-if="option"
      :options="options"
      :type="type"
      :is="option"
    />
  </v-flex>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true
    },
    options: {
      type: Object,
      required: true
    }
  },
  computed: {
    option() {
      if (!this.type) return false
      return require(`./${this.type}/Index`).default
    }
  }
}
</script>

<style lang="stylus">
</style>
