<template>
  <v-flex xs12>
    <v-subheader class="pl-0">{{ options.label }}</v-subheader>
    <input
      type="file"
      @change="sendFile"
    >
  </v-flex>
</template>

<script>
import Api from '@/api'

export default {
  props: {
    options: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  methods: {
    sendFile(event) {
      this.$store.dispatch('fileProgress', 10)
      const file = event.target.files[0]

      Api.uploadFile(
        file,
        res => {
          this.$store.dispatch('fileProgress', res)
        },
        error => {
          this.$store.dispatch('setError', error)
        },
        file => {
          const options = {
            ...this.options,
            value: file
          }
          this.$store
            .dispatch('updateOption', { options, type: this.type })
            .then(() => {
              this.$store.dispatch('fileProgress', 0)
            })
        }
      )
    }
  }
}
</script>