<template>
  <div class="l-btn">
    <a
      :style="{'width': btnWidth + '%'}"
      :href="link"
    >{{ text }}</a>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },
    options: {
      type: Object,
      required: true
    }
  },
  computed: {
    btnWidth() {
      const width = this.options.width
      return width.value ? width.value : width.default
    },
    text() {
      const text = this.options.textField
      return text.value ? text.value : text.default
    },
    link() {
      const link = this.options.link
      return link.value ? link.value : link.default
    }
  }
}
</script>

<style lang="stylus">
.l-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 45px;

  a {
    display: block;
    width: 270px;
    height: 42px;
    background-color: #207eff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    color: #ffffff !important;
    text-decoration: none;
    text-transform: uppercase;
  }
}
</style>
