<template>
  <td
    colspan="4"
    valign="top"
    align="left"
    style="padding: 30px;"
  >
    <center>
      <table
        cellspacing="0"
        cellpadding="0"
        width="100%"
      >
        <tbody>
          <tr>
            <td
              valign="top"
              align="center"
            >
              <center>
                <a
                  class="email-steps__btn"
                  style="display: block;height: 42px;background-color: #207eff;text-align: center;line-height: 42px;font-size: 14px;color: #ffffff !important;text-decoration: none;text-transform: uppercase;"
                  :style="{'width': btnWidth + '%'}"
                  :href="link"
                >{{ text }}</a>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </td>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },
    options: {
      type: Object,
      required: true
    }
  },
  computed: {
    btnWidth() {
      const width = this.options.width
      return width.value ? width.value : width.default
    },
    text() {
      const text = this.options.textField
      return text.value ? text.value : text.default
    },
    link() {
      const link = this.options.link
      return link.value ? link.value : link.default
    }
  }
}
</script>

<style>
</style>
