// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page-enter-active, .page-leave-active
  transition: opacity .5s;

.page-enter, .page-leave-active
  opacity: 0;

.nuxt-progress
  opacity: 1 !important

.flip-list-move
  transition: transform 1s;

  /*--- Slide Left ---*/
.slide-left-enter {
  opacity: 0;
  position: absolute;
}

.slide-left-enter-active {
  transition: opacity 0.3s ease-out;
  animation: 0.3s slideLeft ease-out;
}

.slide-left-leave-active {
  transition: opacity 0.3s ease-out;
  animation: 0.3s slideRight ease-out;
}

.slide-left-leave-to {
  opacity: 0;
}

@keyframes slideLeft {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}

/*--- Slide ---*/
.slide-enter {
  opacity: 0;
  position: absolute;
}

.slide-enter-active {
  transition: opacity 0.3s ease-out;
  animation: 0.3s slideUp ease-out;
}

.slide-leave-active {
  animation: 0.3s slideDown ease-out;
  transition: opacity 0.3s;
}

.slide-leave-to {
  opacity: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
