<template>
  <v-app>
    <v-toolbar
      dark
      color="primary"
      app
      flat
    >
      <nuxt-link to="/">
        <v-layout align-center>
          <v-icon large>view_quilt</v-icon>
          <v-toolbar-title
            class="font-weight-medium"
            v-text="title"
          />
        </v-layout>
      </nuxt-link>
      <v-spacer/>
      <v-btn
        color="#fff"
        icon
        large
      >
        <v-avatar
          size="32px"
          tile
        >
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content>
      <nuxt/>
    </v-content>
    <v-footer
      dark
      class="pa-3"
    >
      <v-spacer/>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        title: 'Шаблоны'
      }
    }
  }
</script>

<style lang="stylus">
  .toolbar__content a {
    color: #ffffff;
    text-decoration: none;
  }
</style>
