<template>
  <v-app>
    <!-- Drawer -->
    <v-navigation-drawer
      class="secondary"
      app
      permanent
      width="500"
      dark
    >
      <v-toolbar
        light
        color="white"
        class="px-2"
      >
        <h2 class="font-weight-light title">
          <v-icon
            large
            color="grey darken-4"
          >view_module
          </v-icon>
        </h2>
        <v-text-field
          v-model="searchRes"
          class="ml-4"
          flat
          solo-inverted
          hide-details
          append-icon="search"
          label="Поиск..."
        />
      </v-toolbar>
      <v-expansion-panel
        v-model="panel"
        light
        expand
      >
        <v-expansion-panel-content>
          <div slot="header">Настрока виджета</div>
          <v-card
            color="secondary"
            light
          >
            <v-card-text>
              <v-layout
                class="l-options"
                wrap
              >
                <l-option
                  v-for="(option, type) in $store.state.widgetOptions"
                  :key="type"
                  :type="type"
                  :options="option"
                />
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
        <v-expansion-panel-content>
          <div slot="header">Виджеты</div>
          <v-card
            color="secondary"
            light
          >
            <v-card-text>
              <draggable
                :value="search"
                :options="{animation: 300, group:{ name:'people', pull:'clone', put:false }}"
                :clone="elClone"
                element="v-layout"
              >
                <v-flex
                  v-for="(module, id) in search"
                  :key="id"
                  class="pa-2 "
                >
                  <l-widget-preview
                    :module="module"
                    :id="id"
                  />
                </v-flex>
              </draggable>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
        <v-expansion-panel-content>
          <div slot="header">Общие настройки</div>
          <v-card
            color="secondary"
            light
          >
            <v-card-text>123</v-card-text>
          </v-card>
        </v-expansion-panel-content>
        <v-expansion-panel-content>
          <div slot="header">Дополнительно</div>
          <v-card
            color="secondary"
            light
          >
            <v-card-text>123</v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>

    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar
      dark
      color="primary"
      app
    >
      <nuxt-link to="/">
        <v-layout align-center>
          <v-icon large>view_quilt</v-icon>
          <v-toolbar-title
            class="font-weight-medium"
            v-text="title"
          />
        </v-layout>
      </nuxt-link>
      <v-spacer />
      <v-btn
        color="#fff"
        icon
        large
      >
        <v-avatar
          size="32px"
          tile
        >
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
        </v-avatar>
      </v-btn>
    </v-toolbar>

    <!-- Content -->
    <v-content style="padding-bottom: 80px;">
      <nuxt />
    </v-content>

    <!-- Footer -->
    <v-footer
      app
      inset
      fixed
      height="80"
    >
      <v-btn
        color="warning"
        depressed
        large
      >Отмена
      </v-btn>
      <v-btn
        :loading="loading"
        :disabled="loading"
        color="primary"
        depressed
        large
        @click="saveTemplate"
      >Сохранить
      </v-btn>
      <v-spacer />
      <v-dialog width="315">
        <v-btn
          slot="activator"
          depressed
          color="success"
          large
        >Экспортировать шаблон</v-btn>

        <v-card>
          <v-card-title
            class="headline grey lighten-4"
            primary-title
          >
            Экспортировать шаблон
          </v-card-title>

          <v-card-text>
            <v-flex>
              <v-btn
                depressed
                color="primary"
                large
                block
              >SendGrid</v-btn>
              <v-btn
                depressed
                color="warning"
                large
                block
              >SendWithUs</v-btn>
              <v-dialog
                v-model="isExport"
                width="800"
              >
                <v-btn
                  slot="activator"
                  depressed
                  color="success"
                  large
                  block
                >Получить код</v-btn>

                <production />
              </v-dialog>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-footer>

    <!-- Set notifications or errors -->
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      top
      right
      @input="closeMessage"
    >
      {{ text }}
      <v-btn
        dark
        flat
        @click="closeMessage"
      >
        Закрыть
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import LWidgetPreview from '@/components/widgets/LWidgetPreview'
import draggable from 'vuedraggable'
import LOption from '@/components/options/LOption'
import production from '@/components/production/Export'

export default {
  components: {
    production,
    LOption,
    LWidgetPreview,
    draggable
  },
  data() {
    return {
      loading: false,
      title: 'Новый шаблон',
      modules: [
        {
          type: 'LBanner',
          name: 'Изображение',
          icon: 'image'
        },
        {
          type: 'LTextView',
          name: 'Текст',
          icon: 'subject'
        },
        {
          type: 'LBtn',
          name: 'Кнопка',
          icon: 'call_to_action'
        }
      ],
      searchRes: '',
      color: 'success',
      timeout: 6000,
      snackbar: false,
      text: '',
      isExport: false
    }
  },
  computed: {
    search: {
      get() {
        return this.modules.filter(module => {
          return (
            module.name.toLowerCase().indexOf(this.searchRes.toLowerCase()) !==
            -1
          )
        })
      },
      set(value) {
        console.log(value)
      }
    },
    error() {
      return this.$store.state.error
    },
    notification() {
      return this.$store.state.notification
    },
    panel: {
      get() {
        return this.$store.state.panel
      },
      set(value) {
        this.$store.state.panel = value
      }
    }
  },
  watch: {
    error() {
      this.showSnackbar(this.error, 'error')
    },
    notification() {
      this.showSnackbar(this.notification, 'success')
    }
  },
  methods: {
    saveTemplate() {
      this.loading = true
      let build = this.$store.state.build
      build = JSON.stringify(build)
      console.log(build)

      setTimeout(() => {
        localStorage.setItem('nf-build', build)
        this.loading = false
      }, 1000)
    },
    showSnackbar(msg, color) {
      ;(this.color = color), (this.text = msg), (this.snackbar = true)
    },
    closeMessage() {
      this.$store.dispatch('clearMessage').then(() => (this.snackbar = false))
    },
    elClone(el) {
      return {
        type: el.type,
        options: {}
      }
    }
  }
}
</script>

<style lang="stylus">
.v-toolbar__content a {
  color: #ffffff;
  text-decoration: none;
}
</style>
