<template>
  <v-layout
    justify-center
    class="pa-4"
  >
    <v-flex sm6>
      <v-layout>
        <v-spacer/>
        <nuxt-link to="/new">
          <v-btn
            color="primary"
            large
          >Создать новый
          </v-btn>
        </nuxt-link>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {}
</script>
