<template>
  <v-card
    flat
    color="grey lighten-5"
  >
    <v-card-title primary-title>
      <v-text-field
        name="input-1"
        label="Название шаблона"
        hide-details
        prepend-icon="settings_ethernet"
      />
    </v-card-title>
    <v-card-text>
      <v-layout
        v-if="!ready"
        class="editor-load"
        align-center
        justify-center
      >
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        />
      </v-layout>
      <l-wrapper v-else>
        <draggable
          v-model="blocks"
          :options="{animation: 300, handle: '.letter-block__draggable'}"
        >
          <transition-group
            name="slide-left"
            mode="out-in"
          >
            <l-block
              v-for="(block, index) in blocks"
              :key="index"
              :order="index"
              :block="block"
            />
          </transition-group>
        </draggable>
      </l-wrapper>
    </v-card-text>
  </v-card>
</template>

<script>
import LWrapper from '@/components/wrapper/LWrapper'
import LBlock from '@/components/block/LBlock'

import draggable from 'vuedraggable'

export default {
  components: {
    LWrapper,
    LBlock,
    draggable
  },
  data: () => ({
    loading: false,
    ready: false
  }),
  computed: {
    blocks: {
      get() {
        return this.$store.state.build.blocks
      },
      set(value) {
        this.$store.commit('updateBlock', value)
      }
    }
  },
  watch: {
    blocks() {
      if (this.blocks) {
        this.ready = true
      }
    }
  },
  mounted() {
    this.$store.commit('initBuild')
    setTimeout(() => (this.ready = true), 1000)
  },
  head: {
    title: 'Новый шаблон'
  },
  layout: 'editor'
}
</script>

<style lang="stylus">
.editor-load {
  min-height: 500px;
}
</style>
