<template>
  <v-card>
    <table v-show="false">
      <production ref="table">
        <block
          v-for="(block, id) in blocks"
          :key="id"
        >
          <l-widget
            v-for="(widget, idx) in block.widgets"
            :key="idx"
            :index="idx"
            :block-index="id"
            :widget="widget"
            prod="Prod"
          />
        </block>
      </production>
    </table>

    <v-card-title
      class="headline grey lighten-4"
      primary-title
    >Скопируйте этот код:</v-card-title>
    <v-card-text>
      <no-ssr placeholder="Codemirror Loading...">
        <codemirror
          :value="code"
          :options="cmOption"
          @focus="getCode"
        >
        </codemirror>
      </no-ssr>
    </v-card-text>
  </v-card>
</template>

<script>
import production from './prod'
import block from './block/Index'
import LWidget from '../widgets/LWidget'

import header from './prod/header.js'
import footer from './prod/footer.js'

export default {
  components: { production, block, LWidget },
  data() {
    return {
      code: '',
      cmOption: {
        tabSize: 4,
        lineNumbers: true,
        lineWrapping: true,
        hardwrap: true,
        line: true,
        mode: 'text/html',
        theme: 'material'
      }
    }
  },
  computed: {
    blocks() {
      return this.$store.state.build.blocks
    }
  },
  methods: {
    getCode() {
      console.log(this.$refs.table.$el.innerHTML)
      this.code = header + this.$refs.table.$el.innerHTML + footer
    }
  }
}
</script>
