<template>
  <v-layout
    justify-center
    class="l-row-new"
  >
    <v-dialog
      v-model="dialog"
      width="900"
    >
      <v-btn
        slot="activator"
        color="success"
        flat
      >
        <v-icon>add</v-icon>
        Добавить строку
      </v-btn>

      <v-card>
        <v-card-title class="headline grey lighten-4 text-xs-center">Выберите тип строки</v-card-title>
        <v-divider />
        <v-card-text>
          <v-layout wrap>
            <v-flex
              v-for="(row, id) in rowTypes"
              :key="id"
              md6
              xs12
              class="pa-3"
            >
              <v-card
                :class="{'l-row-type_active': id === selected}"
                class="l-row-type"
                flat
                @click.native="selected = id"
              >
                <v-layout>
                  <v-flex
                    v-for="(col, id) in row.cols"
                    :key="id"
                    :class="`xs${col}`"
                  >
                    <v-card flat>
                      <v-card-text style="text-align:center">
                        {{ id + 1 }}
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>

          </v-layout>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="warning"
            depressed
            large
            @click="dialog = false"
          >
            Отмена
          </v-btn>
          <v-btn
            color="primary"
            depressed
            large
            @click="addRow"
          >
            Подтвердить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: 'LNewRow',
  props: {
    index: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data() {
    return {
      dialog: false,
      selected: null,
      rowTypes: [
        {
          cols: ['12']
        },
        {
          cols: ['6', '6']
        },
        {
          cols: ['2', '10']
        },
        {
          cols: ['10', '2']
        },
        {
          cols: ['2', '8', '2']
        },
        {
          cols: ['4', '4', '4']
        }
      ]
    }
  },
  methods: {
    addRow() {
      if (this.selected === null) {
        this.$store.dispatch(
          'setError',
          'Вы должны выбрать тип отображения строки'
        )

        return false
      }

      const cols = this.rowTypes[this.selected].cols
      const row = []

      cols.forEach((col, index) => {
        row[index] = {
          width: col,
          widgets: []
        }
      })

      this.$store
        .dispatch('addRow', { row, index: this.index })
        .then(() => (this.dialog = false))
    }
  }
}
</script>

<style>
.l-row-new {
  padding: 30px 30px 0;
}

.l-row-type {
  border: 2px solid #dedede;
  border-radius: 10px;
  cursor: pointer;
}

.l-row-type:hover {
  border-color: #207eff;
}

.l-row-type_active {
  border-color: #207eff;
}

.l-row-type .v-card {
  border-radius: 10px;
}

.l-row-type .flex + .flex {
  border-left: 2px solid #dedede;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.l-row-type_active .flex + .flex,
.l-row-type:hover .flex + .flex {
  border-color: #207eff;
}
</style>
