<template>
  <v-layout
    fill-height
    class="l-row"
  >
    <v-flex
      v-for="(col, idx) in row"
      :key="idx"
      :class="`xs${col.width}`"
    >
      <l-row-column
        :column="col"
        :col-id="idx"
        :row-id="blockId"
        :index="index"
      />
    </v-flex>
  </v-layout>
</template>

<script>
import LRowColumn from './LRowColumn'

export default {
  components: { LRowColumn },
  props: {
    index: {
      type: Number,
      required: true
    },
    blockId: {
      type: Number,
      required: true
    },
    row: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="stylus">
.l-row {
  padding: 30px 30px 0;

  & + .l-row {
    padding-top: 0;

    .l-widget-container {
      border-top: none;
    }
  }

  .flex + .flex {
    .l-widget-container {
      border-left: none;
    }
  }
}

.l-widget-container {
  border: 1px dashed #dedede;
  height: 100%;
}
</style>
