<template>
  <draggable
    v-model="widgets"
    :options="{animation: 300, group: 'people'}"
    class="l-widget-container"
  >
    <component
      v-for="(widget, id) in column.widgets"
      :key="id"
      :is="widget.type"
    >
      {{ widget.name }}
    </component>
    <v-card
      v-if="!column.widgets.length"
      slot="footer"
      flat
    >
      <v-card-text class="text-md-center">
        <v-icon
          x-large
          color="grey lighten-2"
        >widgets</v-icon>
      </v-card-text>
    </v-card>
  </draggable>
</template>

<script>
import LBtn from '@/components/widgets/LBtn'
import LTextView from '@/components/widgets/LTextView'
import LBanner from '@/components/widgets/LBanner'

import draggable from 'vuedraggable'

export default {
  components: { draggable, LBtn, LTextView, LBanner },
  props: {
    index: {
      type: Number,
      required: true
    },
    rowId: {
      type: Number,
      required: true
    },
    colId: {
      type: Number,
      required: true
    },
    column: {
      type: Object,
      required: true
    }
  },
  computed: {
    widgets: {
      get() {
        const block = this.$store.state.build.blocks[this.index]
        const cols = block.rows[this.rowId]

        return cols[this.colId].widgets
      },
      set(value) {
        const widgets = {
          colId: this.colId,
          rowId: this.rowId,
          index: this.index,
          widgets: value
        }

        this.$store.commit('updateWidget', widgets)
      }
    }
  },
  methods: {
    action(e) {
      console.log(e)
    }
  }
}
</script>

