<template>
  <div
    class="l-banner"
    :style="{'padding': padding}"
  >
    <img
      :src="image"
      class="l-banner__image"
    >
    <v-dialog
      v-model="dialog"
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Загрузка файла
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      dialog: false
    }
  },
  watch: {
    progress(val) {
      if (val > 0) {
        this.dialog = true
      } else {
        this.dialog = false
      }
    }
  },
  computed: {
    image() {
      const image = this.options.image
      return image.value ? image.value : image.default
    },
    padding() {
      const padding = this.options.padding
      return `${padding.value[0]}px ${padding.value[1]}px`
    },
    progress() {
      return this.$store.state.fileProgress
    }
  }
}
</script>


<style lang="stylus">
.l-banner {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
