<template>
  <td
    align="left"
    valign="top"
    width="100%"
    :style="{'padding': padding}"
  >
    <img
      :src='image'
      :width="600 - (options.padding.value[1] * 2)"
      alt='рассылка 2.jpg'
    />
  </td>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      required: true
    }
  },
  computed: {
    image() {
      const image = this.options.image
      return image.value ? image.value : image.default
    },
    padding() {
      const padding = this.options.padding
      return `${padding.value[0]}px ${padding.value[1]}px`
    }
  }
}
</script>

<style>
</style>
